<script>
import Vue from 'vue';
import { PulseTemplateSample } from '@/entry';

export default Vue.extend({
  name: 'ServeDev',
  components: {
    PulseTemplateSample,
  }
});
</script>

<template>
  <div id="app">
    <pulse-template-sample />
  </div>
</template>
