<template>
  <v-app>
    <Loading :loading="loading"></Loading>
    <SnackBar :show="snack.show" :text="snack.msg" :type="snack.type" @dismissed="onDismissed"/>
    <Menu v-model="drawer" v-bind:keycloak="keycloak" v-bind:routes="routes"/>
    <Header @drawer="drawer = !drawer" v-bind:keycloak="keycloak" />
    <Content v-bind:keycloak="keycloak" />
    <Footer/>
  </v-app>
</template>

<script>
  import Header from './template/Header'
  import Footer from './template/Footer'
  import Content from './template/Content'
  import Menu from './template/Menu'
  import SnackBar from './template/SnackBar'
  import { mapGetters, mapActions } from 'vuex'
  import Loading from './template/Loading'

  export default {
    name: 'AppPulse',
    props: ['keycloak', 'router'],
    components: { Loading, SnackBar, Menu, Content, Header, Footer },
    computed: {
      ...mapGetters(['snack', 'loading'])
    },
    data () {
      return {
        routes: router.options.routes,
        drawer: true
        //
      }
    },
    methods: {
      ...mapActions(['clearSnack']),
      onDismissed () {
        this.clearSnack()
      }
    }
  }
</script>
