<template>
    <v-main class="grey lighten-2">
        <v-container fluid>
            <router-view></router-view>
        </v-container>
    </v-main>
</template>

<script>
    export default {
        name: 'Content'
    }
</script>

<style scoped>


</style>
