<template>
    <v-footer app  inset class="text-center">
        <span class="px-4 mx-auto">{{ appMode }} {{ appTitle }}</span>
    </v-footer>
</template>

<script>
    export default {
        name: 'Footer',
        computed: {
            appTitle () {
                return process.env.VUE_APP_TITLE
            },
            appMode () {
                return process.env.VUE_APP_MODE
            }
        }
    }
</script>

<style scoped>

</style>
