<template>
    <v-app-bar
            app>
        <v-app-bar-nav-icon @click.stop="$emit('drawer')"
        ></v-app-bar-nav-icon>
        <v-toolbar-title class="headline text-uppercase">
            <v-img
            src="../assets/logo-mateus.svg"
            contain 
            ></v-img>
          
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-spacer></v-spacer>
           <v-text-field
                hide-details
                prepend-icon="search"
                placeholder="Buscar rotina"
                single-line
            ></v-text-field>
        <v-btn icon class="mx-5">
            <v-icon>mdi-bell</v-icon>
        </v-btn>

         <v-menu
            offset-y
        >

        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-avatar color="blue darken-2">
                <span class="white--text headline">{{ inicial }}</span>
            </v-avatar>
          </v-btn>
        </template>

        <v-card
            min-width="200"
            tile
        >
            <v-list>
                <v-subheader>{{ nome }}</v-subheader>
                <v-list-item-group>
                    <v-list-item  @click="keycloak.logout()">
                        <v-list-item-icon>
                            <v-icon>power_settings_new</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content class="item-menu">
                            <v-list-item-title>Sair</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-card>
      </v-menu>
    </v-app-bar>
</template>

<script>
    export default {
        name: 'Header',
        props: ["keycloak"],
        data () {
            return {
                inicial: this.keycloak.tokenParsed.name.toUpperCase().charAt(0),
                email: this.keycloak.tokenParsed.email,
                nome: this.nomeUsuario()
            }
        },
        computed: {
            appMode () {
                return process.env.VUE_APP_MODE || ''
            }
        },
        methods: {
            nomeUsuario () {
                let nome = this.keycloak.tokenParsed.given_name
                let sobrenome = this.keycloak.tokenParsed.family_name
                return this.capitalize(nome) + " " + this.capitalize(sobrenome)
            },
            capitalize (palavra) {
                return palavra.charAt(0).toUpperCase() + palavra.slice(1)
            }
        }
    }
</script>

<style scoped>
    .rounded-0{
        border-radius: 0;
        color: red;
        font-size: 30px;
    }
</style>
