<template>
    <v-navigation-drawer
            class="menu-lateral black"
            dark
            v-model="localDrawer"
            absolute
            overflow
            app
    >
        <v-list >
            <v-subheader>Últimas Rotinas Acessadas</v-subheader>
            <template v-for="(item, index) in itens">
                <MenuItem :icon="item.icon" :title="item.title" :route-name="item.name" :key="index"/>
            </template>
        </v-list>
        <v-divider></v-divider>
    </v-navigation-drawer>
</template>

<script>
    import MenuItem from './MenuItem'
    export default {
        name: 'Menu',
        components: { MenuItem },
        props: ['value', 'keycloak', 'routes'],
        computed: {
            itens () {
              let menu = this.routes;
              return menu.filter((m) => {
                  let hasRole = false;
                  if(m.meta.guest){
                    hasRole = true;
                  }else{
                    m.meta.roles.forEach(r => {
                        if(this.keycloak.hasRealmRole(r)){
                            console.log(m);
                            hasRole = true;
                        }
                    });
                  }
                  return hasRole;
                }
              );
            }
        },
        data () {
            return {
                nome: this.nomeUsuario(),
                inicial: this.keycloak.tokenParsed.name.toUpperCase().charAt(0),
                localDrawer: this.value
            }
        },
        watch: {
            value () {
                this.localDrawer = this.value
            },
            localDrawer () {
                this.$emit('input', this.localDrawer)
            }
        },
      methods: {
          nomeUsuario () {
            let nome = this.keycloak.tokenParsed.given_name;
            let sobrenome = this.keycloak.tokenParsed.family_name;
            return nome.charAt(0).toUpperCase() + nome.slice(1)
                + " " + sobrenome.charAt(0).toUpperCase() + sobrenome.slice(1);
          }
      }
    }
</script>

<style scoped>


</style>
